HELP.md
target/
out/**
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
data/**
build/**
config/**
node_modules/**
package**
webpack**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
logs

### VS Code ###
.vscode/

### PRODUCTIONS PROFILES ###
application-**
